@model HealthcarePortal.Models.Plan

<div class="form-group">
    @Html.LabelFor(model => model.PlanName, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.PlanName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PlanName, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SumInsured, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.SumInsured, new { @class = "form-control", @type = "number" })
        @Html.ValidationMessageFor(model => model.SumInsured, "", new { @class = "text-danger" })
    </div>
</div>